PyQt5==5.15.2
nltk==3.6.2
pyperclip==1.8.1
pywin32==301
docutils==0.16
numpy==1.19.4
brotli==1.0.9
Cython==0.29.24
importlib_metadata==4.6.1
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
monotonic==1.6
ordereddict==1.1
protobuf==3.17.3
pyOpenSSL==20.0.1
tornado==6.1
wincertstore==0.2.1
zipp==3.5.0
